html {
  height: 100%;
}

body {
  display: grid;
  grid-template-rows: 40px auto auto;
  min-height: 100%;
  color: #111111;
  margin: 0 auto;
  font-family: myriad-pro, sans-serif;
}

body > header {
  grid-row: 1 / 2;
  background-color: #333333;
  color: white;
}

body > header nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
}

body > header nav ul li {
  font-size: 0.7em;
  font-weight: 300;
  padding: 0 30px;
}

main {
  padding: 120px 200px 100px 200px;
}

main > article {
  display: grid;
  grid-template-rows: auto auto auto;
}

main > article > header {
  grid-row: 1 / 2;
}

main > article > figure {
  grid-row: 2 / 3;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 700px;
  margin: 0 auto;
}

main > article > figure img {
  max-width: 200px;
  padding: 0px;
  margin: 10px;
}
main > article > footer {
  grid-row: 3 / 4;
  text-align: center;
  padding: 50px 200px 30px 200px;
  font-style: italic;
  font-size: 1.3em;
}

main > article > header h1 {
  font-size: 5em;
  text-align: center;
  font-weight: 600;
}

main > article > header p {
  font-size: 2.1em;
  font-weight: 100;
  text-align: center;
}

body > footer {
  display: flex;
  justify-content: space-around;
  border-top: 1px solid #bbbbbb;
  text-align: center;
}

body > footer > section {
  padding: 30px 70px;
}

body > footer h2 {
  font-size: 1.1em;
  font-weight: 600;
}

body > footer p {
  font-size: 0.9em;
}
