body {
  margin: 100px 200px;
  font-family: myriad-pro;
}

form {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

form label {
  grid-column: 1 / 2;
  text-align: right;
  margin-right: 1rem;
  vertical-align: top;
}

form input {
  grid-column: 2 / 3;
  text-align: left;
  vertical-align: top;
}

label {
  font-size: 1.3rem;
  font-weight: 600;
  color: #111111;
  border-bottom: solid 0.5px #bbbbbb;
}

input {
  font-family: myriad-pro;

  font-weight: 600;
  font-size: 1.3rem;
  border: none;
  border-bottom: dotted 2px;
  color: #bbbbbb;
}

input:hover {
  border-bottom: dotted 2px #333333;
}

input:focus {
  outline: none;
  color: red;
  border-bottom: dotted 2px #333333;
}
