body {
  margin: auto;
  width: 400px;
  font-family: myriad-pro;
  font-size: 1.2rem;
}

li:nth-child(even) {
  color: #666666;
}

li:nth-child(7n + 1) {
  border-bottom: 1px dotted #dddddd;
}

li:nth-last-child(1) {
  list-style: circle;
}

li:nth-of-type(2):hover {
  color: blue;
}

li:nth-last-of-type(3) {
  font-weight: 900;
}
