* {
  margin: 0;
  padding: 0;
}

body {
  font-family: myriad-pro;
  width: 600px;
  margin: 200px auto;
}

h1 {
  font-size: 5.4rem;
  line-height: 1em;
}

h2 {
  font-size: 2.7rem;
  font-weight: 100;
  line-height: 1em;
  transform: translate(3rem, -6rem);
}

p {
  width: 400px;
  font-weight: 100;
  font-size: 1.2rem;
  transform: translate(11rem, -5.5rem);
}
