* {
  margin: 0;
  padding: 0;
}

body {
  display: grid;
  grid-template-columns: 33vw 33vw 33vw;
  font-family: myriad-pro;
}

p {
  font-size: 6rem;
  font-weight: 700;
}

p:nth-child(1) {
  grid-column: 1 / 2;
  text-align: right;
  color: rgba(255, 0, 0, 0.5);
}

p:nth-child(2) {
  grid-column: 2 / 3;
  text-align: center;
  color: rgba(0, 128, 0, 0.5);
}

p:nth-child(3) {
  grid-column: 3 / 4;
  color: rgba(255, 255, 0, 0.5);
}
